* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.form-outer {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.form-inner {
    width: 70%;
}

.responsive-form {
    margin: auto;
    background-color: #f5f5f5;
    border: 20px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#number {
    width: 60%;
}

input,
select {
    width: 70%;
    height: 50px;
    font-size: medium;
    padding: 8px;
    margin-bottom: 16px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

div {
    margin-bottom: 16px;
}

input[type="radio"] {
    margin-left: 30px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

input[type="checkbox"] {
    margin-left: 30px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#countries {
    width: 20%;
    margin-left: 10px;
}

#submit_button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
}

#reset_button {
    background-color: lightgreen;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
    width: 50%;
    
}


#submit_button:hover {
    background-color: #0056b3;
}

#reset_button:hover {
    background-color: green;

}

.gender {
    display: flex;
    align-items: center;
}

.gender_lable,
.gender_male,
.gender_female {
    margin-right: 10px;
    display: flex;
}

.Notifications {
    display: flex;
}

.Preferences {
    margin-right: 10px;
}
.ride
{
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Media query */
@media (max-width: 600px) {

    input,
    select,
    button {
        width: 100%;
    }

    .Preferences,
    .Notification {
        margin-right: 10px;

    }
    input[type="checkbox"] {
        margin-left: 10px;
        margin-right: 3px;
        width: 20px;
        height: 20px;
        
    }
    .form-outer {
        margin-top: 1vh;
        width: 100%;
        display: flex;
        justify-content: center;  
    }
  
    .buttons {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    }

    #submit_button {
       
        width: 40%;
      
    }

    #reset_button {
        width: 40%;

    }

    #countries {
        width: 50%;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
    }

    .gender_lable,
    .gender_male,
    .gender_female {
        margin-right: 1px;
    }

    #number,
    .Team {
        width: 100%;
    }

    .ride img {
        width: 100%;
    }
  

}